.imagem-fundo{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover

}

.box-login{
    background-color: white;
    margin-top: 5%;
    margin-left: 37%;
    /* box-shadow: 5px 5px 5px 5px rgb(73, 173, 212), -5px -5px 5px 5px rgb(73, 173, 212); */
    border: 2px solid rgb(4, 94, 129);
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    height: 530px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.input_dados{
    width: 300px;
}
.entradas-dados{
    text-align: right;

}
.botoes{
    text-align: center;
}
.botao_login{
    width: 364px;
    height: 50px;
    border-radius: 30px;
    border:none;
    color:white;
    background-color: rgb(5, 163, 226);
    margin-top: 5%;
    transition: 0.5s;
}
.botao_login:hover{
    width: 364px;
    height: 50px;
    border-radius: 30px;
    border:none;
    color:white;
    background-color: rgb(4, 110, 151);
}